{% extends 'base.html' %}

    {% block title %} seja bem vindo {% endblock title %}

    {% block main %}
    <h1 class="programe_facil">Ola Mundo</h1>
        <ul>
            {% for pessoa in lista %}

                {% if pessoa.sexo == 'm' or pessoa.sexo == 'M' %}
                    <li>Olá senhor {{ pessoa.nome }}</li>
                {% elif pessoa.sexo == 'f' or pessoa.sexo == 'F' %}
                    <li>Ola senhora {{ pessoa.nome }}</li>
                {% else %}
                    <li>ola {{ pessoa.nome }}</li>
                {% endif %}
                {{nome}}
            {% endfor %}
        </ul>
        <button class="btn btn-info" onclick="olaMundo()">Clique Aqui</button>
    {% include 'footer.html' with pnome=nome %}
    {% endblock main %}

